.page {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__footer {
        margin-top: auto;
    }

    &__title {
        font-size: var(--font-size-h1);
    }

    &__section {
        padding-top: var(--indent-50);
        padding-bottom: var(--indent-50);
    }
}
