@import url('../../../../shared/ui/styles/mixins/media.css');

.navigation {
    overflow-y: auto;

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: var(--indent-15);

        @include mediaDesktop() {
            justify-content: flex-end;
        }
    }

    &__link {
        display: block;
        padding: var(--indent-10);
        white-space: nowrap;
        text-transform: uppercase;
        color: inherit;
        text-decoration: none;
    }

    &__link:hover {
        text-decoration: underline;
    }
}
